* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
body {
  background: #34e7e4;
}
header {
  background: #0be881;
  padding-bottom: 20px -5;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 0px 20px 0px 20px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}
header nav ul li a:hover {
  background-color: #34e7e4;
}
main {
  padding-left: 25px;
  background: #34e7e4;
}
main div h1 {
  font-size: 25px;
  padding-bottom: 25px;
  color: white;
}
main div p {
  color: #485460;
  text-align: justify;
  padding-bottom: 10px;
}
footer {
  background: #1e272e;
}
footer div {
  display: flexbox;
  width: 100%;
  height: auto;
  flex-direction: column;
}
footer div p {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}
.img-container {
  width: 80%;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: 500px;
}
.video-container {
  text-align: center;
  width: 60%;
  padding-bottom: 30px;
}
.video-container iframe {
  width: 100%;
  height: 500px;
}
form {
  text-align: center;
  padding-top: size 20px;
  background: #ff4f12;
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}
form input {
  width: auto;
  margin: 10px 20px 10px 20px;
  font-size: size 20px;
}
form label {
  font-size: size 20px;
  padding-bottom: 10px;
  margin: 0px 20px 0px 20px;
  text-align: left;
}
form button {
  padding: 10px;
  font-size: size 20px;
  margin-bottom: size 20px;
  width: 200px;
  background-color: lightgreen;
  color: black;
  border: 1px solid gray;
  align-self: center;
}
form button:hover {
  background-color: limegreen;
  border: 1px solid black;
}
